button[type="button"]{
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    background: #3ea751;
    width: 20%;
    padding: 10px 0;
    border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -o-border-radius: 15px;
      
      cursor: pointer;
  }
  button[type="button"]:hover {
      background: #ff2775;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -o-border-radius: 15px;
        transition: 1s all;
      -webkit-transition: 1s all;
      -moz-transition: 1s all;
      -o-transition: 1s all;
  }

  
  